/* Стили для header, hero, features, products, contact и footer */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat",-apple-system,system-ui,BlinkMacSystemFont,"Helvetica Neue","Helvetica",sans-serif;
}

body {
	background-color: #ececec;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #ffffff;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	z-index: 1000;
}

header .header .logo {
	padding: 10px;
	box-sizing: content-box;
}

header .header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
}

header .header #navbar ul {
	display: flex;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
	gap: 20px;
}

header .header #navbar li a {
	display: block;
	padding: 10px;
	color: #000000;
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
}

header .header #navbar li a:hover {
	color: #b7a978;
}

.burger-menu {
	display: none;
}

.burger {
	display: block;
	width: 30px;
	height: 3px;
	background-color: #333333;
	margin: 5px;
	cursor: pointer;
}

#hero {
	margin-top: 50px;
	width: 100%;
	height: auto;
	text-align: center;
}

#hero img {
	width: 100%;
	height: auto;
	max-width: 2460px;
	display: block;
}

#features {
	background-color: #fff;
	padding: 40px 20px;
	margin-bottom: 40px;
}

#features ul {
	margin-left: 20px;
	margin-bottom: 10px;
}

#products {
	margin-bottom: 40px;
	text-align: center;
}

.blocks {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 15px;
	padding: 0 10px;
}

@media only screen and (max-width: 1200px) {
	.blocks {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media only screen and (max-width: 450px) {
	.blocks {
		gap: 10px;
	}
}

.blocks .block-item {
	cursor: pointer;
}

.blocks .block-item img {
	width: 100%;
}

h1, h2, h3 {
	font-weight: 700;
}

h1, h2 {
	font-size: 2.25rem;
	line-height: 2.5rem;
	margin-bottom: 20px;
}

h3 {
	font-size: 1.875rem;
	line-height: 2.25rem;
	margin-bottom: 15px;
}

p {
	font-size: 1rem;
	line-height: 1.5rem;
	color: #2e2e2e;
	font-weight: 500;
	margin-bottom: 10px;
}

footer {
	background-color: #000;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

footer .icons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

footer .copyright, footer .manager-mail p, footer .contacts p {
	color: #969696;
	font-size: 1rem;
	line-height: 1.5rem;
	text-align: center;
}

footer .contacts p {
	margin: 0;
}

footer .manager-mail, footer .copyright, footer .contacts {
	margin-top: 30px;
}

footer .contacts {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

footer .manager-mail a, footer .contacts a {
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-weight: 700;
	text-decoration: inherit;
	color: #969696;
	display: flex;
	justify-content: center;
}

footer .manager-mail a:hover, footer .contacts a:hover {
	color: #b7a978;
}

#feedback {
	text-align: center;
	margin-bottom: 40px;
	padding: 0 10px;
}

form {
	display: flex;
	flex-direction: column;
	max-width: 450px;
	width: 100%;
	margin: 0 auto;
	text-align: start;
	background-color: #fff;
	border-radius: 10px;
	padding: 15px;
}

label {
	margin-bottom: 0.5rem;
}

input {
	padding: 0.5rem;
	margin-bottom: 1rem;
	border-radius: 0.25rem;
	border: 1px solid #ccc;
}

button[type="submit"] {
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
	background-color: #231f20;
	color: #fff;
	border: none;
	cursor: pointer;
}

button[type="submit"]:hover {
	background-color: #b7a978;
}

@media only screen and (max-width: 768px) {
	header .header #navbar {
		display: flex;
		flex-direction: column;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.3s ease-in-out;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background-color: #ffffff;
		box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.1);
	}

	#navbar ul {
		flex-direction: column;
	}

	#navbar li {
		margin-left: 0;
	}

	#navbar a {
		padding: 20px;
	}

	.burger-menu {
		display: block;
	}

	.burger {
		position: relative;
	}

	.burger:before,
	.burger:after {
		content: '';
		position: absolute;
		width: 30px;
		height: 3px;
		background-color: #333333;
		left: 0;
	}

	.burger:before {
		top: -8px;
	}

	.burger:after {
		bottom: -8px;
	}

	header .header #navbar.menu-open {
		max-height: 300px;
	}

	h1, h2 {
		font-size: 1.85rem;
	}

	h3 {
		font-size: 1.65rem;
	}

	#features {
		padding: 40px 10px;
	}
}

.container {
	max-width: 100%;
	margin: 0 auto;
}

@media only screen and (min-width: 768px) {
	.container {
		max-width: 750px;
	}
}

@media only screen and (min-width: 992px) {
	.container {
		max-width: 970px;
	}
}

@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}

.sticky {
	position: fixed;
	top: 0;
	animation: slideDown 0.5s;
}

@keyframes slideDown {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(0);
	}
}